
.calculadora {
    background: rgb(69, 121, 122);
    width: 225px;
    padding: 10px;
    border-radius: 20px;
}
.calculadora input {
    background: coral;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}
